*.[Cc]ache
*.csproj.user
*.[Rr]e[Ss]harper*
*.sln.cache
*.suo
*.user
*.orig
*.pidb
*.userprefs
AssemblyInfo.cs
.DS_Store
[Bb]in/
[Dd]ebug/
[Oo]bj/
[Rr]elease/
[Pp]ackages/
_[Rr]e[Ss]harper.*/
*.docstates
*.tss
*.ncrunchproject
*.ncrunchsolution
*.dotCover
Thumbs.db
